{% extends 'auth.html' %}

{% block auth %}
<div class="form-box" id="login-box" style="border: 1px solid #000000">
  <div class="header">Register New Membership</div>
  <form action="/users" method="post">
    <div class="body bg-gray">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Full name"/>
      </div>
      <div class="form-group">
        <input type="text" name="email" class="form-control" placeholder="email"/>
      </div>
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="User Name"/>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password"/>
      </div>
      <div class="form-group">
        <input type="password" name="password2" class="form-control" placeholder="Retype password"/>
      </div>
    </div>
    <div class="footer">

      <button type="submit" class="btn bg-olive btn-block">Sign me up</button>

      <a href="/signin" class="text-center">I already have a membership</a>
    </div>
  </form>
</div>
{% endblock %}
