<section data-ng-controller="SecretsController" data-ng-init="find()">
  <div class="page-header row">
    <div class="col-lg-9 h2"> Secrets List</div>
    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" data-ng-model="searchStr"
               placeholder="search.." ui-keypress="{'enter':'search()'}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-ng-click="search()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <section class="col-sm-4 col-lg-3 col-xs-4" data-ng-controller="SecTreeController">
      <div class="box box-danger">
        <div class="box-header">
          <div class="box-tools pull-left">
            <input type="text" class="form-control input-sm"
                   style="float:left;width: 150px;"
                   placeholder="Search/Create"
                   data-ng-model="qryText"
                   ui-keypress="{'enter':'search()'}">
            <button type="button" class="btn btn-success btn-sm" data-ng-click="create();"><i
                class="glyphicon glyphicon-plus"></i></button>
          </div>
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-warning btn-sm" onclick="jstree_rename();"><i
                class="glyphicon glyphicon-pencil"></i></button>
            <button type="button" class="btn btn-danger btn-sm" data-ng-click="delete()"><i
                class="glyphicon glyphicon-remove"></i></button>
            <button type="button" class="btn btn-blue btn-sm dropdown-toggle"
                    data-toggle="dropdown">
              <i class="glyphicon glyphicon-align-justify"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" data-ng-click="treeAction('refresh')">Refresh</a></li>
              <li><a href="" data-ng-click="treeAction('open_all')">Expand All</a></li>
              <li><a href="" data-ng-click="treeAction('close_all')">Close All</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body no-padding"
             style="min-height: 300px; max-height: 300px; overflow: auto">
          <div jstree api-base="/api/sectree" id="sampleTree"
               selected-node="currNode" on-rename="rename"></div>
          <!--<div id="sampleTree" class="col-md-12"></div>-->
        </div>
      </div>
    </section>
    <section class="col-sm-8 col-lg-9 col-xs-8">
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12"
           data-ng-repeat="secret in secrets"
           data-ng-click="select(secret)">
        <div class="small-box bg-yellow" style="padding-left: 3px"
             ng-class="{'bg-aqua':selected(secret)}">
          <div class="inner">
            <a class="h3 text-maroon" data-ng-href="#!/secrets/{{secret._id}}">
              {{secret.title}}</a>

            <p>{{secret.email}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<script>
  function jstree_create() {
    var ref = $('#sampleTree').jstree(true),
        sel = ref.get_selected();
    if (!sel.length) {
      sel = {id: '#'};
    } else {
      sel = sel[0];
    }
    $.get('/api/sectrees/nextid').success(function (resp) {
      if (resp.count) {
        sel = ref.create_node(sel, {id: resp.count + 5, text: "test" + resp.count});
      }
    });
  }

  function jstree_rename() {
    var ref = $('#sampleTree').jstree(true),
        sel = ref.get_selected();
    if (!sel.length) {
      return false;
    }
    sel = sel[0];
    ref.edit(sel);
  }

  function jstree_delete() {
    var ref = $('#sampleTree').jstree(true),
        sel = ref.get_selected();
    if (!sel.length) {
      return false;
    }
    ref.delete_node(sel);
  }
</script>