<section data-ng-controller="SecretsController" data-ng-init="find()">
  <div class="page-header row">
    <div class="col-lg-9 h2"> Secrets List</div>
    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" data-ng-model="searchStr"
               placeholder="search.." ui-keypress="{'enter':'search()'}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-ng-click="search()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <!--<div jstree api-base="/api/sectree/" api-root="0"></div>-->
      <div id="sampleTree">
        <!--<ul>-->
        <!--<li>Root node 1</li>-->
        <!--<li>Root node 2-->
        <!--<ul>-->
        <!--<li>C 2.1</li>-->
        <!--<li>C 2.2</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
    <div class="col-sm-10">
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12"
           data-ng-repeat="secret in secrets"
           data-ng-click="select(secret)">
        <div class="small-box bg-yellow" style="padding-left: 3px"
             ng-class="{'bg-aqua':selected(secret)}">
          <div class="inner">
            <a class="h3 text-maroon" data-ng-href="#!/secrets/{{secret._id}}">
              {{secret.title}}</a>

            <p>{{secret.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  (function ($) {
    $('#sampleTree').jstree({
      'core': {
        'data': {
          'url': function (node) {
            var pid = '0';
            if (node.id === '#') { // root of tree
              pid = '0';  // no parent
            } else {
              pid = $(node).attr('id'); // parent id
            }
            return '/api/sectree?parent=' + pid;
          },
          'data': function (n) {
            return n.attr ? n.attr('id') : 0;
          },
          'success': function (res) {
            for (i = 0; i < res.length; i++) {
              if (res[i].parent == 0)
                res[i].parent = '#';
                res[i].children = true;
            }
          }
        }
      }
    });
  })(jQuery);
</script>