<section data-ng-controller="SecretsController" data-ng-init="find()">
  <div class="box box-success box-solid box-bordered">
    <div class="box-header">
      <h3 class="box-title">Secrets List</h3>

      <div class="box-tools pull-right">
        <input type="text" placeholder="Search..."
            data-ng-model="searchStr"
            ui-keypress="{'enter':'search()'}">
      </div>
    </div>
    <div class="box-body row">
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12"
           data-ng-repeat="secret in secrets"
           data-ng-click="select(secret)">
        <div class="box" style="padding-left: 3px"
             ng-class="{'bg-aqua':selected(secret)}">
          <h4><a data-ng-href="#!/secrets/{{secret._id}}">{{secret.title}}</a></h4>
          {{secret.email}}
        </div>
      </div>
    </div>
  </div>
</section>