<section data-ng-controller="OtpsController" data-ng-init="find()">
  <div class="col-sm-10">
    <div class="col-sm-3 table-bordered" style="margin: 4px"
         data-ng-repeat="otp in otps"
         class="thumbnail" ng-class="{'alert-success':selected(otp)}"
         data-ng-click="select(otp)">
      <h4><a data-ng-href="#!/otps/{{otp._id}}">{{otp.title}}</a></h4>
      {{otp.email}}
    </div>
  </div>
  <div class="col-sm-2" data-ng-show="otp._id">
    <div class="col-sm-6">
      <h4><span>{{otp.title}}</span></h4>
      <!--<span>{{otp.created | date:'medium'}}</span>-->

      <h3><span class="label label-primary">{{gOTP}}</span></h3>
    </div>
    <div class="col-sm-6">
      <input type="text" data-min="0" data-max="30" data-readonly="true"
             class="dialOTP" ui-jq="knob"
             data-width="50" data-height="50">
    </div>
    <img ng-src="/api/otp/{{otp._id}}/genqr"/>
  </div>
</section>